*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
}

li {
  list-style: none;
  text-align: center;
}

.top-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #5b191a;
  height: 6.2rem;
  padding-top: 0.7em;
  position: relative;
}

.logo {
  height: 2.5rem;
}

.navbar-header {
  background-color: #0e0d0d;
  padding: 0.65rem 1rem;
  margin-bottom: 1.8rem;
}

.navbar-header ul {
  list-style: none;
}

.navbar-header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.2rem;
  height: 0.5rem;
}

.navbar-header a:visited,
.navbar-header a:link {
  color: white;
}

.navbar-header a {
  font-size: 16px;
}

#top-news-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.5rem;
  background-color: #c4c4c4;
  margin-bottom: 1.7rem;
}

#top-news-text a:visited,
#top-news-text a:link {
  color: black;
}

.top-news-photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 45rem;
  padding-right: 0.5rem;
}

.top-news-photos li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-news-photo {
  height: 13.4rem;
  width: 13.4rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.jeff-photo {
  height: 9.2rem;
  width: 13.4rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.text-under-jeff {
  height: 4rem;
  width: 13.4rem;
  background-color: #0e0d0d;
  color: white;
}

.top-news-photos a:visited,
.top-news-photos a:link {
  color: white;
}

#popular-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.5rem;
  background-color: #c4c4c4;
  margin-top: 1.7rem;
  margin-bottom: 1.7rem;
}

#top-news-text a:visited,
#top-news-text a:link {
  color: black;
}

.popular-text-photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 109rem;
  padding-right: 0.5rem;
}

.popular-text-photo {
  height: 13.4rem;
  width: 13.4rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.popular-text-photos a:visited,
.popular-text-photos a:link {
  color: white;
}

.footer-with-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0e0d0d;
}

.logo2 {
  height: 2.3rem;
}

.popular-text-photos {
  margin-bottom: 5rem;
}

.navbar-footer {
  background-color: #0e0d0d;
  padding: 0.65rem 1rem;
  margin-bottom: 1.8rem;
}

.navbar-footer ul {
  list-style: none;
}

.navbar-footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.2rem;
  height: 3rem;
}

.navbar-footer a:visited,
.navbar-footer a:link {
  color: white;
}

.navbar-footer a {
  font-size: 16px;
}

p {
  color: white;
  font-size: 10px;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1.8rem;
}

.footer-with-logo {
  padding: 1.5rem 0 1rem;
}

.navbar-footer .signatur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 0.5rem;
}
/*# sourceMappingURL=styles-new2.css.map */